## Data prep

In [63]:
from census_utils import *
import pandas as pd
import geopandas as gpd
from random import random
from math import sqrt
from scipy.spatial import KDTree
import numpy as np

In [2]:
def load_data():
    return pd.read_csv(get_synthetic_out_file())

In [3]:
df = load_data()

In [4]:
df.head()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,AS,H_PI,OTH,TWO_OR_MORE,NUM_HISP,18_PLUS,HH_NUM,ACCURACY,AGE_ACCURACY,identifier
0,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,0,1,0,1,True,19501001005
1,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,0,1,1,1,True,19501001005
2,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,0,1,2,1,True,19501001005
3,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,0,1,3,1,True,19501001005
4,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,0,1,4,1,True,19501001005

In [5]:
num_rows = len(df)

In [6]:
print(num_rows)

3612858

In [7]:
dist_u = {
    4: .05,
    3: .15,
    2: .3,
    1: .5
}

In [8]:
dist_n = {k: v*num_rows for k, v in dist_u.items()}

In [9]:
dist_n

{4: 180642.90000000002, 3: 541928.7, 2: 1083857.4, 1: 1806429.0}

In [10]:
flagging = ['W', 'B', 'AI_AN', 'AS', 'H_PI', 'OTH', 'TWO_OR_MORE', 'NUM_HISP']

In [11]:
counts = df[flagging].groupby(flagging).size().reset_index()

In [12]:
merged = df.merge(counts,
         how='left',
         on=flagging,
         validate='many_to_one',
).rename({0: 'frequency'}, axis=1)
merged.head()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,H_PI,OTH,TWO_OR_MORE,NUM_HISP,18_PLUS,HH_NUM,ACCURACY,AGE_ACCURACY,identifier,frequency
0,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,1,0,1,True,19501001005,552198
1,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,1,1,1,True,19501001005,552198
2,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,1,2,1,True,19501001005,552198
3,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,1,3,1,True,19501001005,552198
4,2010,Georgia,13,Appling County,1,90078,950100,1,1005,Block 1005,...,0,0,0,0,1,4,1,True,19501001005,827171

In [13]:
merged.sort_values(by=['BLOCK_TOTAL', 'frequency'], axis=0, inplace=True)

In [14]:
vec_n = [[i] * int(dist_n[i]) for i in (4, 3, 2, 1)]

In [15]:
l = []
for v in vec_n:
    l += v
if len(l) < num_rows:
    l += [1] * (num_rows - len(l))
print(l[:5])
print(len(l))

[4, 4, 4, 4, 4]
3612858

In [16]:
merged['U'] = l

In [17]:
merged.head()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,OTH,TWO_OR_MORE,NUM_HISP,18_PLUS,HH_NUM,ACCURACY,AGE_ACCURACY,identifier,frequency,U
2636079,2010,Georgia,13,Houston County,153,92352,21400,1,1034,Block 1034,...,0,0,1,1,0,1,True,153214001034,102,4
3511182,2010,Georgia,13,Ware County,299,93240,950200,3,3025,Block 3025,...,0,0,1,1,0,1,True,2999502003025,102,4
175554,2010,Georgia,13,Bleckley County,23,90708,790100,1,1102,Block 1102,...,0,0,0,1,0,1,True,237901001102,268,4
240473,2010,Georgia,13,Butts County,35,91182,150100,4,4082,Block 4082,...,0,0,0,1,0,1,True,351501004082,268,4
607044,2010,Georgia,13,Clayton County,63,91200,40412,3,3031,Block 3031,...,0,0,0,1,0,1,True,63404123031,268,4

In [18]:
merged[['BLOCK_TOTAL', 'frequency', 'U']].head()

         BLOCK_TOTAL  frequency  U
2636079            1        102  4
3511182            1        102  4
175554             1        268  4
240473             1        268  4
607044             1        268  4

In [19]:
#merged.loc[merged['BLOCK_TOTAL'] <= 9, 'U'] = 4

In [20]:
#merged[merged['BLOCK_TOTAL'] <= 9].tail()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,OTH,TWO_OR_MORE,NUM_HISP,18_PLUS,HH_NUM,ACCURACY,AGE_ACCURACY,identifier,frequency,U
3609794,2010,Georgia,13,Worth County,321,92412,950400,4,4055,Block 4055,...,0,0,0,2,2,1,True,3219504004055,827171,4
3609924,2010,Georgia,13,Worth County,321,92412,950400,4,4092,Block 4092,...,0,0,0,2,1,1,True,3219504004092,827171,4
3609969,2010,Georgia,13,Worth County,321,92412,950400,4,4109,Block 4109,...,0,0,0,2,0,1,True,3219504004109,827171,4
3610084,2010,Georgia,13,Worth County,321,92412,950400,4,4164,Block 4164,...,0,0,0,2,1,1,True,3219504004164,827171,4
3611062,2010,Georgia,13,Worth County,321,92940,950500,2,2034,Block 2034,...,0,0,0,2,5,1,True,3219505002034,827171,4

In [21]:
merged.head()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,OTH,TWO_OR_MORE,NUM_HISP,18_PLUS,HH_NUM,ACCURACY,AGE_ACCURACY,identifier,frequency,U
2636079,2010,Georgia,13,Houston County,153,92352,21400,1,1034,Block 1034,...,0,0,1,1,0,1,True,153214001034,102,4
3511182,2010,Georgia,13,Ware County,299,93240,950200,3,3025,Block 3025,...,0,0,1,1,0,1,True,2999502003025,102,4
175554,2010,Georgia,13,Bleckley County,23,90708,790100,1,1102,Block 1102,...,0,0,0,1,0,1,True,237901001102,268,4
240473,2010,Georgia,13,Butts County,35,91182,150100,4,4082,Block 4082,...,0,0,0,1,0,1,True,351501004082,268,4
607044,2010,Georgia,13,Clayton County,63,91200,40412,3,3031,Block 3031,...,0,0,0,1,0,1,True,63404123031,268,4

In [22]:
merged['prob'] = merged['U']

In [23]:
merged['prob'].replace({4: 1, 3: .6, 2: .3, 1: .1}, inplace=True)

In [24]:
del merged['identifier']

In [25]:
ID_COLS = ['TRACTA', 'COUNTYA', 'BLOCKA']
def make_identifier_synth(df):
    id_lens = [6, 3, 4]
    str_cols = [col + '_str' for col in ID_COLS]
    for col, l, col_s in zip(ID_COLS, id_lens, str_cols):
        assert max(num_digits(s) for s in df[col].unique()) <= l
        df[col_s] = df[col].astype(str).str.zfill(l)
    df['id'] = df[str_cols].astype(str).agg('-'.join, axis=1)
    for col_s in str_cols:
        del df[col_s]

In [26]:
make_identifier_synth(merged)

In [27]:
merged.head()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,TWO_OR_MORE,NUM_HISP,18_PLUS,HH_NUM,ACCURACY,AGE_ACCURACY,frequency,U,prob,id
2636079,2010,Georgia,13,Houston County,153,92352,21400,1,1034,Block 1034,...,0,1,1,0,1,True,102,4,1.0,021400-153-1034
3511182,2010,Georgia,13,Ware County,299,93240,950200,3,3025,Block 3025,...,0,1,1,0,1,True,102,4,1.0,950200-299-3025
175554,2010,Georgia,13,Bleckley County,23,90708,790100,1,1102,Block 1102,...,0,0,1,0,1,True,268,4,1.0,790100-023-1102
240473,2010,Georgia,13,Butts County,35,91182,150100,4,4082,Block 4082,...,0,0,1,0,1,True,268,4,1.0,150100-035-4082
607044,2010,Georgia,13,Clayton County,63,91200,40412,3,3031,Block 3031,...,0,0,1,0,1,True,268,4,1.0,040412-063-3031

In [28]:
merged['hh_str'] = merged['HH_NUM'].astype(str).str.zfill(4)
merged['household.id'] = merged[['id', 'hh_str']].astype(str).agg('-'.join, axis=1)
del merged['hh_str']

In [29]:
merged.head()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,NUM_HISP,18_PLUS,HH_NUM,ACCURACY,AGE_ACCURACY,frequency,U,prob,id,household.id
2636079,2010,Georgia,13,Houston County,153,92352,21400,1,1034,Block 1034,...,1,1,0,1,True,102,4,1.0,021400-153-1034,021400-153-1034-0000
3511182,2010,Georgia,13,Ware County,299,93240,950200,3,3025,Block 3025,...,1,1,0,1,True,102,4,1.0,950200-299-3025,950200-299-3025-0000
175554,2010,Georgia,13,Bleckley County,23,90708,790100,1,1102,Block 1102,...,0,1,0,1,True,268,4,1.0,790100-023-1102,790100-023-1102-0000
240473,2010,Georgia,13,Butts County,35,91182,150100,4,4082,Block 4082,...,0,1,0,1,True,268,4,1.0,150100-035-4082,150100-035-4082-0000
607044,2010,Georgia,13,Clayton County,63,91200,40412,3,3031,Block 3031,...,0,1,0,1,True,268,4,1.0,040412-063-3031,040412-063-3031-0000

## Load geo data

In [30]:
def load_shape_data(area):
    block_map = gpd.read_file(get_shape_file(area))
    return block_map.to_crs("EPSG:3395")

In [31]:
block_geo = load_shape_data('BLOCK')

In [32]:
block_geo.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,GISJOIN,Shape_area,Shape_len,geometry
0,13,007,960100,2050,130079601002050,Block 2050,G5040,R,None,None,S,612528,0,+31.3277979,-084.4160009,G13000709601002050,6.125277e+05,3715.902259,"POLYGON ((-9396469.535 3653263.291, -9396474.0..."
1,13,007,960100,1149,130079601001149,Block 1149,G5040,R,None,None,S,5854,0,+31.3484357,-084.3074734,G13000709601001149,5.853541e+03,702.869588,"POLYGON ((-9384854.459 3655836.851, -9384949.0..."
2,13,007,960100,1209,130079601001209,Block 1209,G5040,R,None,None,S,3861,0,+31.3689730,-084.2441048,G13000709601001209,3.860879e+03,312.937685,"POLYGON ((-9377961.000 3658476.737, -9377972.6..."
3,13,007,960100,1088,130079601001088,Block 1088,G5040,R,None,None,S,12284613,46705,+31.3869852,-084.3178991,G13000709601001088,1.233132e+07,20396.775829,"POLYGON ((-9385835.963 3656145.176, -9386135.9..."
4,13,007,960100,1163,130079601001163,Block 1163,G5040,R,None,None,S,781861,7655,+31.4169671,-084.2312666,G13000709601001163,7.895162e+05,3865.045979,"POLYGON ((-9375959.921 3665128.695, -9375969.7..."

In [33]:
ID_COLS = ['TRACTCE10', 'COUNTYFP10', 'BLOCKCE10']
def make_identifier_synth_geo(df):
    id_lens = [6, 3, 4]
    str_cols = [col + '_str' for col in ID_COLS]
    for col, l, col_s in zip(ID_COLS, id_lens, str_cols):
        assert max(num_digits(s) for s in df[col].unique()) <= l
        df[col_s] = df[col].astype(str).str.zfill(l)
    df['id'] = df[str_cols].astype(str).agg('-'.join, axis=1)
    for col_s in str_cols:
        del df[col_s]

In [34]:
make_identifier_synth_geo(block_geo)

In [35]:
block_geo.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,GISJOIN,Shape_area,Shape_len,geometry,id
0,13,007,960100,2050,130079601002050,Block 2050,G5040,R,None,None,S,612528,0,+31.3277979,-084.4160009,G13000709601002050,6.125277e+05,3715.902259,"POLYGON ((-9396469.535 3653263.291, -9396474.0...",960100-007-2050
1,13,007,960100,1149,130079601001149,Block 1149,G5040,R,None,None,S,5854,0,+31.3484357,-084.3074734,G13000709601001149,5.853541e+03,702.869588,"POLYGON ((-9384854.459 3655836.851, -9384949.0...",960100-007-1149
2,13,007,960100,1209,130079601001209,Block 1209,G5040,R,None,None,S,3861,0,+31.3689730,-084.2441048,G13000709601001209,3.860879e+03,312.937685,"POLYGON ((-9377961.000 3658476.737, -9377972.6...",960100-007-1209
3,13,007,960100,1088,130079601001088,Block 1088,G5040,R,None,None,S,12284613,46705,+31.3869852,-084.3178991,G13000709601001088,1.233132e+07,20396.775829,"POLYGON ((-9385835.963 3656145.176, -9386135.9...",960100-007-1088
4,13,007,960100,1163,130079601001163,Block 1163,G5040,R,None,None,S,781861,7655,+31.4169671,-084.2312666,G13000709601001163,7.895162e+05,3865.045979,"POLYGON ((-9375959.921 3665128.695, -9375969.7...",960100-007-1163

In [36]:
merged = merged.merge(
    block_geo[['INTPTLAT10', 'INTPTLON10', 'id']],
    on='id',
    how='left',
    validate='many_to_one',
)

In [37]:
merged['INTPTLAT10'] = pd.to_numeric(merged['INTPTLAT10'])
merged['INTPTLON10'] = pd.to_numeric(merged['INTPTLON10'])
merged.head()

,YEAR,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,TRACTA,BLKGRPA,BLOCKA,NAME,...,HH_NUM,ACCURACY,AGE_ACCURACY,frequency,U,prob,id,household.id,INTPTLAT10,INTPTLON10
0,2010,Georgia,13,Houston County,153,92352,21400,1,1034,Block 1034,...,0,1,True,102,4,1.0,021400-153-1034,021400-153-1034-0000,32.446184,-83.697026
1,2010,Georgia,13,Ware County,299,93240,950200,3,3025,Block 3025,...,0,1,True,102,4,1.0,950200-299-3025,950200-299-3025-0000,31.253674,-82.473074
2,2010,Georgia,13,Bleckley County,23,90708,790100,1,1102,Block 1102,...,0,1,True,268,4,1.0,790100-023-1102,790100-023-1102-0000,32.402761,-83.335840
3,2010,Georgia,13,Butts County,35,91182,150100,4,4082,Block 4082,...,0,1,True,268,4,1.0,150100-035-4082,150100-035-4082-0000,33.197020,-83.833332
4,2010,Georgia,13,Clayton County,63,91200,40412,3,3031,Block 3031,...,0,1,True,268,4,1.0,040412-063-3031,040412-063-3031-0000,33.575850,-84.326003

In [38]:
old_merged = merged.copy()

## Build distance data structures

In [60]:
all_num_age_pairs = set(zip(merged['TOTAL'], merged['18_PLUS']))
print(all_num_age_pairs)

{(12, 4), (4, 0), (5, 1), (14, 13), (10, 6), (9, 8), (11, 5), (2, 2), (13, 8), (6, 2), (7, 1), (4, 2), (5, 3), (8, 2), (9, 1), (11, 7), (15, 7), (6, 4), (16, 6), (7, 3), (14, 8), (5, 5), (8, 4), (9, 3), (11, 9), (13, 3), (15, 0), (6, 6), (7, 5), (18, 5), (3, 1), (9, 5), (11, 2), (13, 5), (15, 2), (7, 7), (12, 6), (3, 3), (5, 0), (17, 11), (9, 7), (11, 4), (10, 8), (13, 7), (15, 4), (6, 1), (12, 8), (5, 2), (4, 4), (14, 14), (9, 9), (10, 1), (10, 10), (13, 9), (15, 6), (7, 2), (12, 10), (14, 7), (5, 4), (9, 2), (8, 6), (10, 3), (1, 0), (13, 2), (11, 11), (16, 7), (7, 4), (12, 3), (3, 0), (12, 12), (14, 9), (8, 8), (10, 5), (13, 4), (2, 1), (16, 9), (12, 5), (3, 2), (4, 1), (8, 1), (10, 7), (11, 6), (6, 3), (20, 2), (12, 7), (14, 4), (4, 3), (8, 3), (10, 9), (11, 8), (15, 8), (6, 5), (12, 9), (14, 6), (8, 5), (10, 2), (9, 4), (11, 1), (11, 10), (13, 13), (7, 6), (12, 2), (12, 11), (8, 7), (10, 4), (1, 1), (9, 6), (2, 0), (11, 3), (13, 6)}

In [102]:
trees = {}
indices = {}
for t, a in all_num_age_pairs:
    matches = merged[(merged['TOTAL'] == t) & (merged['18_PLUS'] == a)]
    pts = np.array([matches['INTPTLAT10'], matches['INTPTLON10']]).T
    print((t, a), pts.shape)
    indices[(t, a)] = {i: index for i, (index, row) in enumerate(matches.iterrows())}
    trees[(t, a)] = KDTree(pts)

(12, 4) (762, 2)
(4, 0) (6, 2)
(5, 1) (4004, 2)
(14, 13) (1, 2)
(10, 6) (4067, 2)
(9, 8) (223, 2)
(11, 5) (314, 2)
(2, 2) (1128891, 2)
(13, 8) (124, 2)
(6, 2) (33634, 2)
(7, 1) (442, 2)
(4, 2) (431545, 2)
(5, 3) (39513, 2)
(8, 2) (1622, 2)
(9, 1) (74, 2)
(11, 7) (296, 2)
(15, 7) (306, 2)
(6, 4) (27627, 2)
(16, 6) (89, 2)
(7, 3) (6613, 2)
(14, 8) (120, 2)
(5, 5) (12515, 2)
(8, 4) (3865, 2)
(9, 3) (2415, 2)
(11, 9) (10, 2)
(13, 3) (10, 2)
(15, 0) (23, 2)
(6, 6) (3056, 2)
(7, 5) (6274, 2)
(18, 5) (564, 2)
(3, 1) (46403, 2)
(9, 5) (1201, 2)
(11, 2) (64, 2)
(13, 5) (20, 2)
(15, 2) (564, 2)
(7, 7) (446, 2)
(12, 6) (826, 2)
(3, 3) (251480, 2)
(5, 0) (2, 2)
(17, 11) (235, 2)
(9, 7) (578, 2)
(11, 4) (312, 2)
(10, 8) (378, 2)
(13, 7) (8, 2)
(15, 4) (1, 2)
(6, 1) (955, 2)
(12, 8) (154, 2)
(5, 2) (159910, 2)
(4, 4) (46380, 2)
(14, 14) (170, 2)
(9, 9) (186, 2)
(10, 1) (4, 2)
(10, 10) (62, 2)
(13, 9) (1383, 2)
(15, 6) (85, 2)
(7, 2) (7983, 2)
(12, 10) (156, 2)
(14, 7) (28, 2)
(5, 4) (19560, 2)
(9, 2) (2837, 2)
(8, 6) (1294, 2)
(10, 3) (181, 2)
(1, 0) (125, 2)
(13, 2) (19, 2)
(11, 11) (90, 2)
(16, 7) (3847, 2)
(7, 4) (8992, 2)
(12, 3) (115, 2)
(3, 0) (8, 2)
(12, 12) (528, 2)
(14, 9) (55, 2)
(8, 8) (434, 2)
(10, 5) (240, 2)
(13, 4) (87, 2)
(2, 1) (44479, 2)
(16, 9) (131, 2)
(12, 5) (458, 2)
(3, 2) (277188, 2)
(4, 1) (14673, 2)
(8, 1) (100, 2)
(10, 7) (429, 2)
(11, 6) (293, 2)
(6, 3) (19341, 2)
(20, 2) (2105, 2)
(12, 7) (269, 2)
(14, 4) (31, 2)
(4, 3) (51269, 2)
(8, 3) (2119, 2)
(10, 9) (46, 2)
(11, 8) (386, 2)
(15, 8) (10, 2)
(6, 5) (8040, 2)
(12, 9) (295, 2)
(14, 6) (1, 2)
(8, 5) (3332, 2)
(10, 2) (295, 2)
(9, 4) (1786, 2)
(11, 1) (5, 2)
(11, 10) (24, 2)
(13, 13) (64, 2)
(7, 6) (3347, 2)
(12, 2) (60, 2)
(12, 11) (493, 2)
(8, 7) (750, 2)
(10, 4) (743, 2)
(1, 1) (904766, 2)
(9, 6) (7830, 2)
(2, 0) (60, 2)
(11, 3) (94, 2)
(13, 6) (155, 2)

In [103]:
print(indices[(7, 6)])

{0: 57826, 1: 57843, 2: 57924, 3: 58278, 4: 58334, 5: 58531, 6: 58539, 7: 58543, 8: 58556, 9: 58564, 10: 58705, 11: 58706, 12: 58727, 13: 71300, 14: 71537, 15: 85637, 16: 85639, 17: 85815, 18: 85823, 19: 85825, 20: 99649, 21: 99870, 22: 99871, 23: 100038, 24: 113713, 25: 114214, 26: 114305, 27: 114542, 28: 114547, 29: 114582, 30: 114587, 31: 114738, 32: 114740, 33: 114741, 34: 114747, 35: 114749, 36: 114757, 37: 114758, 38: 129869, 39: 130040, 40: 130299, 41: 130309, 42: 130333, 43: 130465, 44: 145307, 45: 145868, 46: 145869, 47: 145870, 48: 146173, 49: 146174, 50: 146184, 51: 146338, 52: 146347, 53: 146359, 54: 146371, 55: 161751, 56: 162406, 57: 162407, 58: 162805, 59: 162992, 60: 162995, 61: 179399, 62: 179593, 63: 179594, 64: 179707, 65: 180008, 66: 180020, 67: 180021, 68: 180022, 69: 180031, 70: 180036, 71: 180224, 72: 180235, 73: 180245, 74: 180248, 75: 180267, 76: 196405, 77: 197079, 78: 197455, 79: 197459, 80: 197480, 81: 197493, 82: 197496, 83: 197500, 84: 197505, 85: 197719, 86: 214168, 87: 214669, 88: 214670, 89: 214802, 90: 214914, 91: 215230, 92: 215243, 93: 215256, 94: 215268, 95: 215283, 96: 215469, 97: 215473, 98: 215501, 99: 215502, 100: 215505, 101: 215508, 102: 232011, 103: 232439, 104: 232581, 105: 232693, 106: 233004, 107: 233019, 108: 233025, 109: 233027, 110: 233037, 111: 233065, 112: 233269, 113: 233270, 114: 233274, 115: 233275, 116: 251797, 117: 252264, 118: 252503, 119: 252531, 120: 270099, 121: 270503, 122: 270563, 123: 270688, 124: 270805, 125: 270806, 126: 271130, 127: 271156, 128: 271157, 129: 271361, 130: 271368, 131: 271369, 132: 271383, 133: 289643, 134: 289646, 135: 289655, 136: 289970, 137: 289971, 138: 289972, 139: 289978, 140: 290003, 141: 290283, 142: 290290, 143: 290299, 144: 290317, 145: 308372, 146: 308382, 147: 309159, 148: 309607, 149: 309635, 150: 309637, 151: 309651, 152: 309859, 153: 309861, 154: 309862, 155: 309868, 156: 309873, 157: 309875, 158: 309881, 159: 309883, 160: 309889, 161: 327806, 162: 327831, 163: 327843, 164: 328491, 165: 328763, 166: 328767, 167: 328774, 168: 328777, 169: 329124, 170: 329131, 171: 329138, 172: 329172, 173: 329403, 174: 329422, 175: 329434, 176: 329442, 177: 347285, 178: 347577, 179: 347784, 180: 347788, 181: 347892, 182: 347899, 183: 347903, 184: 347905, 185: 348219, 186: 348221, 187: 348241, 188: 348494, 189: 348507, 190: 348511, 191: 348521, 192: 348529, 193: 348532, 194: 366359, 195: 366420, 196: 367183, 197: 367185, 198: 367315, 199: 367700, 200: 367707, 201: 367718, 202: 367727, 203: 367731, 204: 367743, 205: 367745, 206: 367935, 207: 367936, 208: 367942, 209: 367952, 210: 367953, 211: 367962, 212: 367975, 213: 386966, 214: 387052, 215: 387053, 216: 387064, 217: 387069, 218: 387406, 219: 387412, 220: 387431, 221: 387699, 222: 387705, 223: 387720, 224: 387736, 225: 387742, 226: 406856, 227: 406858, 228: 406863, 229: 407203, 230: 407207, 231: 407506, 232: 407513, 233: 407528, 234: 407533, 235: 407543, 236: 425864, 237: 426679, 238: 426778, 239: 426785, 240: 427103, 241: 427112, 242: 427131, 243: 427140, 244: 427141, 245: 427153, 246: 427361, 247: 427365, 248: 427372, 249: 427380, 250: 427390, 251: 427399, 252: 427400, 253: 427409, 254: 427411, 255: 427421, 256: 427426, 257: 445170, 258: 445562, 259: 445733, 260: 445740, 261: 445741, 262: 445743, 263: 445871, 264: 446179, 265: 446186, 266: 446204, 267: 446209, 268: 446460, 269: 446479, 270: 446488, 271: 446489, 272: 446507, 273: 465447, 274: 466083, 275: 466390, 276: 466746, 277: 466748, 278: 466757, 279: 466768, 280: 466769, 281: 466771, 282: 466779, 283: 466784, 284: 466797, 285: 466802, 286: 466810, 287: 467051, 288: 467069, 289: 467091, 290: 467095, 291: 467103, 292: 467117, 293: 485897, 294: 485909, 295: 486703, 296: 486838, 297: 486839, 298: 487180, 299: 487204, 300: 487208, 301: 487228, 302: 487457, 303: 487498, 304: 487505, 305: 487509, 306: 487511, 307: 505660, 308: 505783, 309: 506200, 310: 506222, 311: 506386, 312: 506526, 313: 506532, 314: 506849, 315: 506855, 316: 506881, 317: 506883, 318: 506889, 319: 507091, 320: 507096, 321: 507100, 322: 507116, 323: 507136, 324: 525829, 325: 526294, 326: 526546, 327: 526547, 328: 526664, 329: 527033, 330: 527044, 331: 527048, 332: 527053, 333: 527057, 334: 527058, 335: 527064, 336: 527081, 337: 527325, 338: 527364, 339: 527388, 340: 545344, 341: 545475, 342: 545919, 343: 545921, 344: 545923, 345: 545996, 346: 546013, 347: 546301, 348: 546308, 349: 546682, 350: 546683, 351: 546690, 352: 546691, 353: 546695, 354: 546705, 355: 546708, 356: 546711, 357: 546719, 358: 546932, 359: 546959, 360: 546986, 361: 564572, 362: 564999, 363: 565700, 364: 565704, 365: 565708, 366: 565710, 367: 565933, 368: 565940, 369: 565947, 370: 565962, 371: 565963, 372: 565973, 373: 565983, 374: 565984, 375: 583624, 376: 584418, 377: 584420, 378: 584424, 379: 584805, 380: 584807, 381: 585041, 382: 585053, 383: 585054, 384: 585060, 385: 585070, 386: 585073, 387: 585080, 388: 602472, 389: 603172, 390: 603272, 391: 603273, 392: 603274, 393: 603278, 394: 603598, 395: 603616, 396: 603620, 397: 603634, 398: 603841, 399: 603851, 400: 603869, 401: 603883, 402: 619756, 403: 619847, 404: 619946, 405: 620464, 406: 620465, 407: 620469, 408: 620561, 409: 620563, 410: 620571, 411: 620573, 412: 620575, 413: 620934, 414: 620939, 415: 620953, 416: 620965, 417: 620980, 418: 621221, 419: 621241, 420: 621260, 421: 638581, 422: 638610, 423: 638918, 424: 639282, 425: 639300, 426: 639314, 427: 639317, 428: 639577, 429: 639595, 430: 639596, 431: 639619, 432: 639631, 433: 639634, 434: 639654, 435: 657378, 436: 657485, 437: 657842, 438: 657844, 439: 657878, 440: 658015, 441: 658018, 442: 658021, 443: 658129, 444: 658463, 445: 658466, 446: 658467, 447: 658478, 448: 658490, 449: 658751, 450: 658765, 451: 658776, 452: 658781, 453: 658782, 454: 658791, 455: 658792, 456: 675413, 457: 675414, 458: 676105, 459: 676289, 460: 676410, 461: 676791, 462: 676799, 463: 676805, 464: 676808, 465: 676813, 466: 676816, 467: 676818, 468: 677081, 469: 677082, 470: 677085, 471: 677091, 472: 677101, 473: 677103, 474: 677118, 475: 677136, 476: 694937, 477: 695075, 478: 695082, 479: 695083, 480: 695208, 481: 695547, 482: 695571, 483: 695578, 484: 695782, 485: 695789, 486: 695797, 487: 695815, 488: 695830, 489: 712236, 490: 712348, 491: 712673, 492: 712831, 493: 712953, 494: 712959, 495: 712965, 496: 713286, 497: 713288, 498: 713322, 499: 713332, 500: 713583, 501: 713611, 502: 729406, 503: 729625, 504: 730260, 505: 730619, 506: 730634, 507: 730651, 508: 730894, 509: 730897, 510: 730902, 511: 730908, 512: 730913, 513: 730936, 514: 730943, 515: 747725, 516: 748281, 517: 748284, 518: 748393, 519: 748400, 520: 748727, 521: 748751, 522: 748957, 523: 748959, 524: 748964, 525: 748979, 526: 748987, 527: 749000, 528: 749004, 529: 749005, 530: 749011, 531: 749021, 532: 765547, 533: 765548, 534: 765612, 535: 765794, 536: 766184, 537: 766186, 538: 766190, 539: 766362, 540: 766500, 541: 766945, 542: 766953, 543: 767185, 544: 767200, 545: 767206, 546: 767207, 547: 767226, 548: 767240, 549: 767256, 550: 784710, 551: 784804, 552: 785458, 553: 785769, 554: 785785, 555: 785803, 556: 785817, 557: 786056, 558: 786058, 559: 802455, 560: 803048, 561: 803338, 562: 803341, 563: 803625, 564: 803650, 565: 803666, 566: 803669, 567: 803863, 568: 803873, 569: 803921, 570: 820062, 571: 820066, 572: 820524, 573: 820589, 574: 820590, 575: 820592, 576: 820593, 577: 820622, 578: 820746, 579: 820747, 580: 820841, 581: 820847, 582: 820864, 583: 821165, 584: 821179, 585: 821190, 586: 821198, 587: 821202, 588: 821428, 589: 821456, 590: 821458, 591: 821459, 592: 821462, 593: 821479, 594: 836770, 595: 836990, 596: 837495, 597: 837500, 598: 837504, 599: 837605, 600: 837607, 601: 837906, 602: 837912, 603: 837919, 604: 837929, 605: 837940, 606: 837946, 607: 837947, 608: 838141, 609: 838160, 610: 838163, 611: 853351, 612: 853585, 613: 853933, 614: 854174, 615: 854184, 616: 854480, 617: 854500, 618: 854502, 619: 854688, 620: 854702, 621: 854713, 622: 854717, 623: 854719, 624: 854728, 625: 854730, 626: 854739, 627: 870153, 628: 870171, 629: 870182, 630: 870389, 631: 870390, 632: 870651, 633: 870732, 634: 870832, 635: 870840, 636: 871223, 637: 871233, 638: 871238, 639: 871429, 640: 871443, 641: 871447, 642: 871455, 643: 871463, 644: 871484, 645: 871488, 646: 886084, 647: 886085, 648: 886421, 649: 886487, 650: 886635, 651: 886636, 652: 886640, 653: 886751, 654: 887114, 655: 887115, 656: 887139, 657: 887142, 658: 887144, 659: 887403, 660: 887433, 661: 887435, 662: 903543, 663: 903647, 664: 903938, 665: 904129, 666: 904130, 667: 904133, 668: 904224, 669: 904228, 670: 904234, 671: 904506, 672: 904507, 673: 904522, 674: 904532, 675: 904534, 676: 904751, 677: 904759, 678: 904764, 679: 918951, 680: 918954, 681: 919379, 682: 919384, 683: 919387, 684: 919779, 685: 919797, 686: 919804, 687: 919812, 688: 919990, 689: 919998, 690: 920011, 691: 934148, 692: 934445, 693: 934446, 694: 934577, 695: 934581, 696: 934690, 697: 934693, 698: 934982, 699: 935001, 700: 935003, 701: 935237, 702: 935246, 703: 935257, 704: 948884, 705: 949369, 706: 949370, 707: 949371, 708: 949488, 709: 949598, 710: 949847, 711: 949852, 712: 949858, 713: 949866, 714: 949870, 715: 949875, 716: 949877, 717: 949882, 718: 950129, 719: 950130, 720: 950134, 721: 950139, 722: 950143, 723: 950153, 724: 950154, 725: 950162, 726: 964044, 727: 964181, 728: 964182, 729: 964183, 730: 964277, 731: 964280, 732: 964535, 733: 964550, 734: 964750, 735: 964769, 736: 964779, 737: 964780, 738: 964787, 739: 964798, 740: 978217, 741: 978923, 742: 978927, 743: 978930, 744: 979014, 745: 979024, 746: 979273, 747: 979286, 748: 979529, 749: 979532, 750: 979548, 751: 979567, 752: 992911, 753: 993398, 754: 993524, 755: 993894, 756: 993904, 757: 993906, 758: 993935, 759: 994094, 760: 994109, 761: 1007761, 762: 1007888, 763: 1007981, 764: 1007982, 765: 1008402, 766: 1008760, 767: 1008767, 768: 1008944, 769: 1008961, 770: 1008963, 771: 1008969, 772: 1008980, 773: 1022318, 774: 1022328, 775: 1022348, 776: 1022494, 777: 1022495, 778: 1022496, 779: 1022776, 780: 1022799, 781: 1022901, 782: 1022903, 783: 1022983, 784: 1022994, 785: 1023256, 786: 1023259, 787: 1023261, 788: 1023273, 789: 1023516, 790: 1023523, 791: 1023528, 792: 1036491, 793: 1036724, 794: 1036982, 795: 1037010, 796: 1037104, 797: 1037105, 798: 1037108, 799: 1037189, 800: 1037202, 801: 1037443, 802: 1037461, 803: 1037462, 804: 1037642, 805: 1037657, 806: 1037678, 807: 1049598, 808: 1049771, 809: 1050059, 810: 1050201, 811: 1050205, 812: 1050302, 813: 1050570, 814: 1050582, 815: 1050809, 816: 1050830, 817: 1050834, 818: 1050835, 819: 1050849, 820: 1064542, 821: 1064644, 822: 1064645, 823: 1064890, 824: 1064893, 825: 1064961, 826: 1064986, 827: 1065092, 828: 1065176, 829: 1065179, 830: 1065185, 831: 1065451, 832: 1065479, 833: 1065495, 834: 1065682, 835: 1065685, 836: 1078813, 837: 1079019, 838: 1079061, 839: 1079079, 840: 1079082, 841: 1079251, 842: 1079457, 843: 1079458, 844: 1079475, 845: 1079668, 846: 1079697, 847: 1091060, 848: 1091105, 849: 1091174, 850: 1091259, 851: 1091523, 852: 1091524, 853: 1091528, 854: 1091649, 855: 1091653, 856: 1091657, 857: 1091747, 858: 1091748, 859: 1091754, 860: 1091757, 861: 1091758, 862: 1091764, 863: 1091969, 864: 1091976, 865: 1091983, 866: 1092203, 867: 1092209, 868: 1092216, 869: 1092240, 870: 1104927, 871: 1104955, 872: 1105044, 873: 1105388, 874: 1105566, 875: 1105573, 876: 1117814, 877: 1117815, 878: 1117824, 879: 1117836, 880: 1117841, 881: 1118050, 882: 1118052, 883: 1118438, 884: 1118440, 885: 1118445, 886: 1118526, 887: 1118527, 888: 1118528, 889: 1118529, 890: 1118778, 891: 1118787, 892: 1118794, 893: 1118797, 894: 1118981, 895: 1118990, 896: 1118993, 897: 1118996, 898: 1118998, 899: 1130511, 900: 1130514, 901: 1130990, 902: 1131036, 903: 1131060, 904: 1131166, 905: 1131173, 906: 1131174, 907: 1131259, 908: 1131266, 909: 1131469, 910: 1131490, 911: 1131494, 912: 1131717, 913: 1131726, 914: 1131728, 915: 1131754, 916: 1143225, 917: 1143235, 918: 1143360, 919: 1143807, 920: 1143809, 921: 1143879, 922: 1143881, 923: 1143883, 924: 1144100, 925: 1144110, 926: 1144111, 927: 1144282, 928: 1144286, 929: 1155785, 930: 1156101, 931: 1156300, 932: 1156305, 933: 1156306, 934: 1156556, 935: 1156559, 936: 1156758, 937: 1156762, 938: 1156763, 939: 1156788, 940: 1167957, 941: 1167972, 942: 1168008, 943: 1168188, 944: 1168541, 945: 1168543, 946: 1168851, 947: 1169048, 948: 1169058, 949: 1179880, 950: 1179917, 951: 1179938, 952: 1180097, 953: 1180301, 954: 1180464, 955: 1180465, 956: 1180466, 957: 1180530, 958: 1180534, 959: 1180731, 960: 1180734, 961: 1180749, 962: 1180945, 963: 1180949, 964: 1191810, 965: 1191857, 966: 1191905, 967: 1192175, 968: 1192299, 969: 1192300, 970: 1192301, 971: 1192737, 972: 1192739, 973: 1192741, 974: 1192754, 975: 1203125, 976: 1203213, 977: 1203214, 978: 1203526, 979: 1203530, 980: 1203977, 981: 1214661, 982: 1214663, 983: 1214747, 984: 1214749, 985: 1214843, 986: 1215072, 987: 1215080, 988: 1215087, 989: 1215091, 990: 1215291, 991: 1215294, 992: 1215298, 993: 1215300, 994: 1215318, 995: 1227161, 996: 1227472, 997: 1227476, 998: 1227542, 999: 1227967, 1000: 1238749, 1001: 1238914, 1002: 1239100, 1003: 1239246, 1004: 1239501, 1005: 1239508, 1006: 1239518, 1007: 1239683, 1008: 1250215, 1009: 1250291, 1010: 1250294, 1011: 1250608, 1012: 1250611, 1013: 1250612, 1014: 1250676, 1015: 1250887, 1016: 1251075, 1017: 1261655, 1018: 1261667, 1019: 1262084, 1020: 1262085, 1021: 1262086, 1022: 1262170, 1023: 1262362, 1024: 1262370, 1025: 1262371, 1026: 1262373, 1027: 1262567, 1028: 1272717, 1029: 1272794, 1030: 1272871, 1031: 1272872, 1032: 1272873, 1033: 1273088, 1034: 1273207, 1035: 1273208, 1036: 1273209, 1037: 1273489, 1038: 1273496, 1039: 1273497, 1040: 1273499, 1041: 1273501, 1042: 1273506, 1043: 1273638, 1044: 1273651, 1045: 1273665, 1046: 1273669, 1047: 1283397, 1048: 1283503, 1049: 1283883, 1050: 1283884, 1051: 1283885, 1052: 1283886, 1053: 1284124, 1054: 1284131, 1055: 1284288, 1056: 1294475, 1057: 1294478, 1058: 1294560, 1059: 1304363, 1060: 1304515, 1061: 1304519, 1062: 1304520, 1063: 1304595, 1064: 1304811, 1065: 1304993, 1066: 1305013, 1067: 1305018, 1068: 1305023, 1069: 1316446, 1070: 1316447, 1071: 1316732, 1072: 1316810, 1073: 1316982, 1074: 1316983, 1075: 1316995, 1076: 1316997, 1077: 1317000, 1078: 1326588, 1079: 1326615, 1080: 1326675, 1081: 1326745, 1082: 1326746, 1083: 1326939, 1084: 1327019, 1085: 1327020, 1086: 1327022, 1087: 1327084, 1088: 1327253, 1089: 1327258, 1090: 1327264, 1091: 1336449, 1092: 1336462, 1093: 1336654, 1094: 1337458, 1095: 1347509, 1096: 1347533, 1097: 1347536, 1098: 1347740, 1099: 1347964, 1100: 1348063, 1101: 1348139, 1102: 1348325, 1103: 1348326, 1104: 1348331, 1105: 1348480, 1106: 1348495, 1107: 1357851, 1108: 1358000, 1109: 1358267, 1110: 1358269, 1111: 1358505, 1112: 1358674, 1113: 1367403, 1114: 1367474, 1115: 1367555, 1116: 1367719, 1117: 1367727, 1118: 1376974, 1119: 1377336, 1120: 1377339, 1121: 1377341, 1122: 1377402, 1123: 1377559, 1124: 1377563, 1125: 1377698, 1126: 1377702, 1127: 1386640, 1128: 1387246, 1129: 1387380, 1130: 1396489, 1131: 1396560, 1132: 1396562, 1133: 1396618, 1134: 1396619, 1135: 1396620, 1136: 1396776, 1137: 1396920, 1138: 1397074, 1139: 1397221, 1140: 1397228, 1141: 1405519, 1142: 1405778, 1143: 1405811, 1144: 1405894, 1145: 1405895, 1146: 1405964, 1147: 1406132, 1148: 1406137, 1149: 1406146, 1150: 1406156, 1151: 1406323, 1152: 1406341, 1153: 1415516, 1154: 1415675, 1155: 1424576, 1156: 1424647, 1157: 1424998, 1158: 1424999, 1159: 1425160, 1160: 1425330, 1161: 1434040, 1162: 1434080, 1163: 1434094, 1164: 1434098, 1165: 1434134, 1166: 1434397, 1167: 1434521, 1168: 1434570, 1169: 1434574, 1170: 1434730, 1171: 1434735, 1172: 1434903, 1173: 1442803, 1174: 1442927, 1175: 1442928, 1176: 1442929, 1177: 1443199, 1178: 1443200, 1179: 1443258, 1180: 1443411, 1181: 1443422, 1182: 1443434, 1183: 1443593, 1184: 1452740, 1185: 1452934, 1186: 1452992, 1187: 1461149, 1188: 1461213, 1189: 1461558, 1190: 1461809, 1191: 1470064, 1192: 1470067, 1193: 1470217, 1194: 1470467, 1195: 1470538, 1196: 1470663, 1197: 1470668, 1198: 1470673, 1199: 1478928, 1200: 1478975, 1201: 1479332, 1202: 1479385, 1203: 1479387, 1204: 1479388, 1205: 1479515, 1206: 1479521, 1207: 1479662, 1208: 1488192, 1209: 1488197, 1210: 1488383, 1211: 1488391, 1212: 1488394, 1213: 1488395, 1214: 1488502, 1215: 1495787, 1216: 1495833, 1217: 1495836, 1218: 1496284, 1219: 1496289, 1220: 1496409, 1221: 1504087, 1222: 1504355, 1223: 1504356, 1224: 1504357, 1225: 1504358, 1226: 1504361, 1227: 1504413, 1228: 1504415, 1229: 1504420, 1230: 1504421, 1231: 1504575, 1232: 1504696, 1233: 1504705, 1234: 1512241, 1235: 1512284, 1236: 1512321, 1237: 1512379, 1238: 1512380, 1239: 1512634, 1240: 1512635, 1241: 1512637, 1242: 1512643, 1243: 1512644, 1244: 1512646, 1245: 1512832, 1246: 1512848, 1247: 1512993, 1248: 1521229, 1249: 1521509, 1250: 1521510, 1251: 1521511, 1252: 1521512, 1253: 1521560, 1254: 1521710, 1255: 1521714, 1256: 1521822, 1257: 1529345, 1258: 1529418, 1259: 1529419, 1260: 1529550, 1261: 1529616, 1262: 1529617, 1263: 1529619, 1264: 1529621, 1265: 1529671, 1266: 1529678, 1267: 1529681, 1268: 1529795, 1269: 1529797, 1270: 1529809, 1271: 1529941, 1272: 1529961, 1273: 1537179, 1274: 1537396, 1275: 1537543, 1276: 1537640, 1277: 1545335, 1278: 1545498, 1279: 1545500, 1280: 1545577, 1281: 1545764, 1282: 1553121, 1283: 1553437, 1284: 1553487, 1285: 1553488, 1286: 1553489, 1287: 1553534, 1288: 1553693, 1289: 1553846, 1290: 1562093, 1291: 1562129, 1292: 1562136, 1293: 1562249, 1294: 1562359, 1295: 1562363, 1296: 1569724, 1297: 1569727, 1298: 1569772, 1299: 1569776, 1300: 1569902, 1301: 1570013, 1302: 1576557, 1303: 1576746, 1304: 1576747, 1305: 1576792, 1306: 1576797, 1307: 1576916, 1308: 1584177, 1309: 1584199, 1310: 1584212, 1311: 1584310, 1312: 1584471, 1313: 1584517, 1314: 1584518, 1315: 1584520, 1316: 1584575, 1317: 1584684, 1318: 1584688, 1319: 1591622, 1320: 1591645, 1321: 1591958, 1322: 1591961, 1323: 1591962, 1324: 1591964, 1325: 1592011, 1326: 1592012, 1327: 1592141, 1328: 1592142, 1329: 1592275, 1330: 1599214, 1331: 1599484, 1332: 1599548, 1333: 1599591, 1334: 1599704, 1335: 1599705, 1336: 1599711, 1337: 1599827, 1338: 1599828, 1339: 1606905, 1340: 1607169, 1341: 1613705, 1342: 1613723, 1343: 1613724, 1344: 1613793, 1345: 1613795, 1346: 1613840, 1347: 1613841, 1348: 1613971, 1349: 1620900, 1350: 1621021, 1351: 1621022, 1352: 1621147, 1353: 1621148, 1354: 1621162, 1355: 1621383, 1356: 1621387, 1357: 1628278, 1358: 1628300, 1359: 1628391, 1360: 1628392, 1361: 1628584, 1362: 1635232, 1363: 1635254, 1364: 1635326, 1365: 1635537, 1366: 1635598, 1367: 1635600, 1368: 1635648, 1369: 1643058, 1370: 1643066, 1371: 1643306, 1372: 1643474, 1373: 1643585, 1374: 1643586, 1375: 1650144, 1376: 1650271, 1377: 1650276, 1378: 1656559, 1379: 1656596, 1380: 1656642, 1381: 1656647, 1382: 1656648, 1383: 1656649, 1384: 1656761, 1385: 1656863, 1386: 1656864, 1387: 1662450, 1388: 1662503, 1389: 1662874, 1390: 1669094, 1391: 1669278, 1392: 1669279, 1393: 1669280, 1394: 1669281, 1395: 1669321, 1396: 1669324, 1397: 1676064, 1398: 1676065, 1399: 1676066, 1400: 1676119, 1401: 1676264, 1402: 1676268, 1403: 1676351, 1404: 1682453, 1405: 1682532, 1406: 1682533, 1407: 1682841, 1408: 1682847, 1409: 1688803, 1410: 1689074, 1411: 1689075, 1412: 1689076, 1413: 1695194, 1414: 1695318, 1415: 1695364, 1416: 1695504, 1417: 1702174, 1418: 1702175, 1419: 1702264, 1420: 1702553, 1421: 1702621, 1422: 1708392, 1423: 1708618, 1424: 1708728, 1425: 1714528, 1426: 1714529, 1427: 1714530, 1428: 1714627, 1429: 1714649, 1430: 1714650, 1431: 1714651, 1432: 1714768, 1433: 1714985, 1434: 1720713, 1435: 1726041, 1436: 1726139, 1437: 1726140, 1438: 1726300, 1439: 1726333, 1440: 1726451, 1441: 1726578, 1442: 1732467, 1443: 1732468, 1444: 1732561, 1445: 1732729, 1446: 1732730, 1447: 1732767, 1448: 1732768, 1449: 1732975, 1450: 1738236, 1451: 1738261, 1452: 1738423, 1453: 1738492, 1454: 1738559, 1455: 1743504, 1456: 1743505, 1457: 1743667, 1458: 1743668, 1459: 17

## Swapping

In [157]:
def block_distance(row):
    lat1 = row['INTPTLAT10']
    lat2 = row['other_lat']
    lon1 = row['INTPTLON10']
    lon2 = row['other_lon']
    return sqrt((lat1 - lat2)**2 + (lon1 - lon2)**2)

def find_k_closest(row, df, k):
    t = row['TOTAL']
    a = row['18_PLUS']
    tree = trees[(t, a)]
    inds = indices[(t, a)]
    if len(inds) <= k:
        return df[(df['TOTAL'] == t) & (df['18_PLUS'] == a)]
    lat = row['INTPTLAT10']
    lon = row['INTPTLON10']
    num_to_query = k+1
    while num_to_query <= len(inds):
        dists, candidates = tree.query((lat, lon), num_to_query)
#         print(candidates)
        first_non_zero = 0
        while dists[first_non_zero] == 0:
            first_non_zero += 1
        dists = dists[first_non_zero:]
        candidates = candidates[first_non_zero:]
#         print(dists)
#         print(candidates)
        cand_inds = [inds[c] for c in candidates]
#         print(cand_inds)
        cand_rows = df.loc[cand_inds].copy()
        cand_rows['distance'] = dists
        cand_rows = cand_rows[cand_rows['swapped'] == 0]
        if len(cand_rows) < k:
            num_to_query *= 2
            continue
        return cand_rows.head(k)
    cand_rows = df[(df['TOTAL'] == t) & (df['18_PLUS'] == a) & (df['swapped'] == 0) & (df['blockid'] != row['blockid'])].head(k).copy()
    cand_rows['distance'] = cand_rows.apply(block_distance, axis=1)
    return cand_rows

In [141]:
row = merged.iloc[0]
# print(row)
#print(merged.iloc[150860])
close = find_k_closest(row, merged, 5)
print(close)
# print(close[['TOTAL', '18_PLUS']])

[0.00212752 0.00532372 0.00628224 0.00628224 0.00628224]
[150860  35475 316278 316280 316279]
         YEAR    STATE  STATEA          COUNTY  COUNTYA  COUSUBA  TRACTA  \
539541   2010  Georgia      13  Houston County      153    92352   21400
108226   2010  Georgia      13  Houston County      153    92352   21400
1223370  2010  Georgia      13  Houston County      153    92352   21400
1223372  2010  Georgia      13  Houston County      153    92352   21400
1223371  2010  Georgia      13  Houston County      153    92352   21400

         BLKGRPA  BLOCKA        NAME  ...  AGE_ACCURACY  frequency  U  prob  \
539541         1    1052  Block 1052  ...          True     552198  3   0.6
108226         1    1035  Block 1035  ...          True     552198  4   1.0
1223370        1    1040  Block 1040  ...          True     552198  2   0.3
1223372        1    1040  Block 1040  ...          True     552198  2   0.3
1223371        1    1040  Block 1040  ...          True     552198  2   0.3

                      id          household.id  INTPTLAT10  INTPTLON10  \
539541   021400-153-1052  021400-153-1052-0000   32.446709  -83.694964
108226   021400-153-1035  021400-153-1035-0001   32.447800  -83.702099
1223370  021400-153-1040  021400-153-1040-0001   32.440111  -83.698633
1223372  021400-153-1040  021400-153-1040-0003   32.440111  -83.698633
1223371  021400-153-1040  021400-153-1040-0002   32.440111  -83.698633

         swapped  distance
539541         0  0.002128
108226         0  0.005324
1223370        0  0.006282
1223372        0  0.006282
1223371        0  0.006282

[5 rows x 34 columns]

In [87]:
# Should try to make this a kdtree implementation
# Because there are so few (age, voting_age) pairs, maybe make a separate one for each?
# One challenge -- don't support removal. Will probably have to do a doubling search over k to get enough
def get_k_closest(row, df, k, UB=.01):
    matches = df[(df['swapped'] == 0) & (df['id'] != row['id']) & (df['18_PLUS'] == row['18_PLUS']) & (df['TOTAL'] == row['TOTAL'])].copy()
    matches['other_lat'] = row['INTPTLAT10']
    matches['other_lon'] = row['INTPTLON10']
    close_matches = matches[((matches['INTPTLAT10'] - matches['other_lat']).abs() < UB) & (matches['INTPTLON10'] - matches['other_lon']).abs()].copy()
    close_matches['distance'] = close_matches.apply(block_distance, axis=1)
    close_matches = close_matches.nsmallest(k, 'distance')
#     print(close_matches['distance'].max())
    if close_matches['distance'].max() < UB:
        return close_matches
#     print('failed')
    if UB < 1:
        return get_k_closest(row, df, k, UB*2)
    matches['distance'] = matches.apply(block_distance, axis=1)
    matches = matches.nsmallest(k, 'distance')
    return matches

In [45]:
merged = old_merged.copy()

In [160]:
%%time
hh_1s = []
hh_2s = []
dists = []
merged['swapped'] = 0
# cols = ['TOTAL', '18_PLUS', 'id']
# cols_to_swap = flagging + ['household.id', 'prob', 'U', 'frequency']
num_matches = 5
s = .0093
print('Total number of swaps', int(s*num_rows))
for i, row in merged.iterrows():
    if i % 1000 == 0:
        print(i)
    if merged['swapped'].sum() >= num_rows*s:
        break
    if merged.loc[i, 'swapped'] == 1:
        continue
    do_swap = random() < row['prob']
    if not do_swap:
        continue
    matches = find_k_closest(row, merged, num_matches)
    m = matches.sample()
    partner_index = m.index[0]
    m = m.reset_index().iloc[0]
    hh_1s.extend([row['household.id'], m['household.id']])
    hh_2s.extend([m['household.id'], row['household.id']])
    dists.extend([m['distance'], m['distance']])
    if i == partner_index:
        print(i, partner_index)
    if merged.loc[i, 'swapped'] == 1:
        print(i)
        print(merged.loc[i])
        print(row)
    if merged.loc[partner_index, 'swapped'] == 1:
        print(i, partner_index)
    assert i != partner_index
    assert merged.loc[i, 'swapped'] == 0
    assert merged.loc[partner_index, 'swapped'] == 0
    merged.loc[[i, partner_index], 'swapped'] = 1
partners = pd.DataFrame({'hh_1': hh_1s, 'hh_2': hh_2s, 'distance': dists})

Total number of swaps 33599
0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
CPU times: user 1min 45s, sys: 5.19 s, total: 1min 50s
Wall time: 1min 55s

In [161]:
just_pairs = partners[['hh_1', 'hh_2']]
just_pairs.head()
print(len(just_pairs))
print(merged['swapped'].sum())
assert len(just_pairs) == merged['swapped'].sum()

33600
33600

In [162]:
swapped_df = merged.merge(
    just_pairs,
    left_on = 'household.id',
    right_on = 'hh_1',
    how = 'left',
    validate = 'one_to_one',
)
swapped_df.drop(columns=['hh_1', 'INTPTLAT10', 'INTPTLON10', 'COUNTY', 'NAME', 'COUSUBA', 'BLKGRPA', 'ACCURACY', 'AGE_ACCURACY'], inplace=True)
swapped_df.head()

,YEAR,STATE,STATEA,COUNTYA,TRACTA,BLOCKA,BLOCK_TOTAL,BLOCK_18_PLUS,TOTAL,W,...,NUM_HISP,18_PLUS,HH_NUM,frequency,U,prob,id,household.id,swapped,hh_2
0,2010,Georgia,13,153,21400,1034,1,1,1,0,...,1,1,0,102,4,1.0,021400-153-1034,021400-153-1034-0000,1,021400-153-1040-0001
1,2010,Georgia,13,299,950200,3025,1,1,1,0,...,1,1,0,102,4,1.0,950200-299-3025,950200-299-3025-0000,1,950200-299-3024-0000
2,2010,Georgia,13,23,790100,1102,1,1,1,0,...,0,1,0,268,4,1.0,790100-023-1102,790100-023-1102-0000,1,790100-023-1101-0001
3,2010,Georgia,13,35,150100,4082,1,1,1,0,...,0,1,0,268,4,1.0,150100-035-4082,150100-035-4082-0000,1,050102-207-2018-0001
4,2010,Georgia,13,63,40412,3031,1,1,1,0,...,0,1,0,268,4,1.0,040412-063-3031,040412-063-3031-0000,1,040412-063-3020-0003

In [163]:
swap_subset = swapped_df['swapped'] == 1
expanded = swapped_df.loc[swap_subset, 'hh_2'].str.split('-', expand=True)
print(expanded.head())
swapped_df.loc[swap_subset, 'COUNTYA'] = pd.to_numeric(expanded[1])
swapped_df.loc[swap_subset, 'TRACTA'] = pd.to_numeric(expanded[0])
swapped_df.loc[swap_subset, 'BLOCKA'] = pd.to_numeric(expanded[2])
swapped_df.loc[swap_subset, 'household.id'] = swapped_df.loc[swap_subset, 'hh_2']
swapped_df.rename({'id': 'blockid'}, inplace=True, axis=1)
del swapped_df['hh_2']
swapped_df.head()

        0    1     2     3
0  021400  153  1040  0001
1  950200  299  3024  0000
2  790100  023  1101  0001
3  050102  207  2018  0001
4  040412  063  3020  0003

,YEAR,STATE,STATEA,COUNTYA,TRACTA,BLOCKA,BLOCK_TOTAL,BLOCK_18_PLUS,TOTAL,W,...,TWO_OR_MORE,NUM_HISP,18_PLUS,HH_NUM,frequency,U,prob,blockid,household.id,swapped
0,2010,Georgia,13,153,21400,1040,1,1,1,0,...,0,1,1,0,102,4,1.0,021400-153-1034,021400-153-1040-0001,1
1,2010,Georgia,13,299,950200,3024,1,1,1,0,...,0,1,1,0,102,4,1.0,950200-299-3025,950200-299-3024-0000,1
2,2010,Georgia,13,23,790100,1101,1,1,1,0,...,0,0,1,0,268,4,1.0,790100-023-1102,790100-023-1101-0001,1
3,2010,Georgia,13,207,50102,2018,1,1,1,0,...,0,0,1,0,268,4,1.0,150100-035-4082,050102-207-2018-0001,1
4,2010,Georgia,13,63,40412,3020,1,1,1,0,...,0,0,1,0,268,4,1.0,040412-063-3031,040412-063-3020-0003,1

## Write to file

In [166]:
# Make sure you want to do this. It may overwrite something
with open(get_swapped_file(), 'w') as f:
    swapped_df.to_csv(f)